set vb t_vb=
set visualbell
set noerrorbells
set incsearch
set nohlsearch
set ignorecase
set smartcase
set scrolloff=5
set oldundo

set ideajoin " Join Lines intelligently
set multiple-cursors " Enabled multi cursor support
set ideamarks " Sync marks and idea bookmarks

set number
set relativenumber

" keyboard remaps and shortcuts
let mapleader=" "
let g:mapleader=" "

nmap - /
nmap _ :action FindInPath<CR>

nnoremap <leader>w :write<CR>

nnoremap <leader>l <C-w>l
nnoremap <leader>h <C-w>h
nnoremap <leader>j <C-w>j
nnoremap <leader>k <C-w>k

nnoremap <leader>ca :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>cr :action RenameElement<CR>
nnoremap <leader>ci :action ShowErrorDescription<CR>
nnoremap <leader>cn :action GotoNextError<CR>
nnoremap <leader>cp :action GotoPreviousError<CR>
nnoremap <leader>cv :action IntroduceVariable<CR>
nnoremap <leader>cm :action ExtractMethod<CR>
nnoremap <leader>rr :action Rerun<CR>
nnoremap <leader>rt :action RunClass<CR>
nnoremap <leader>rg :action RunContextGroup<CR>
nnoremap <leader>xa :action CloseAllEditors<CR>
nnoremap <leader>xo :action CloseAllEditorsButActive<CR>
nnoremap <leader>fo :action GotoFile<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gt :action GotoTest<CR>

nnoremap <C-e> 2<C-e>
nnoremap <C-y> 2<C-y>
nnoremap <leader><CR> :noh<CR>

nmap <c-o> :action Back<CR>
nmap <c-i> :action Forward<CR>

nnoremap <leader>s :action IdeaVim.ReloadVimRc.reload<CR>

vmap J :m '>+1<CR>gv=gv
vmap K :m '<-2<CR>gv=gv

nmap <leader>y \"+y
vmap <leader>y \"+y

xmap <leader>p \"_dP
