[core]
  excludesfile = ./.gitignore_global
  ignorecase = false
  autocrlf = input
  safecrlf = false
  editor = nvim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  pager = less
[push]
  default = current
[merge]
  tool = vimdiff
  conflictstyle = diff3
  ff = only
[mergetool]
  prompt = false
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[help]
  autocorrect = 1
[alias]
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
[pull]
  rebase = merges
[rebase]
  autoStash = true
[submodule]
  recurse = false
[include]
  path = ./.gitconfig.local
[init]
  defaultBranch = main
